<%= render :partial => 'partials/titlebar', locals: {title: 'Galerie'} %>

<!-- Content -->
<div id="content">
  <div class="container">

    <div class="row">
      <div class="col-md-12">

        <h2>Galerie</h2>

        <div class="row">
          <div class="col-md-12">
            Pokud jste nafotili během našeho závodu nějaké fotky a nevadilo by Vám se o ně podělit s ostatními závodníky, pošlete nám info a my zde vyvěsíme odkaz na Vaši galerii. Uděláte radost nejen nám, ale především ostatním závodníkům.
          </div>
        </div>

        <div class="row">

          <div class="col-md-4">
            <h3>2023</h3>

            <div class="space10"></div>

            <ul class="list-a">

              <li><a class="more" href="https://www.rajce.idnes.cz/beskydski/album/beh-do-vrchnu-2023" target="_blank">Fotky Zdenka Holomého</a></li>
              <li><a class="more" href="https://www.rajce.idnes.cz/beskydski/album/beh-do-vrchu-2023-ii" target="_blank">Fotky Jarka Balcara</a></li>
              <li><a class="more" href="https://www.rajce.idnes.cz/beskydski/album/beh-do-vrchu-2023-iii" target="_blank">Fotky Petry Schwarzové Žallmannové</a></li>
              <li><a class="more" href="https://www.rajce.idnes.cz/sk-zafar-frenstat-p-r/album/zavod-do-vrchu-raztoka-pustevny-2023" target="_blank">Fotky pana Rašky</a></li>

            </ul>
          </div>

          <div class="col-md-4">
            <h3>2022</h3>

            <div class="space10"></div>

            <ul class="list-a">

              <li><a class="more" href="https://beskydski.rajce.idnes.cz/Beh_do_vrchu_2022/" target="_blank">Fotky Zdenka Holomého</a></li>
              <li><a class="more" href="https://beskydski.rajce.idnes.cz/Beh_do_vrchu_2022_II/" target="_blank">Fotky organizátorů</a></li>

            </ul>   
          </div>

          <div class="col-md-4">
            <h3>2018</h3>

            <div class="space10"></div>

            <ul class="list-a">

              <li><a class="more" href="https://beskydski.rajce.idnes.cz/bdv2018_foto_I/" target="_blank">Fotky Zdenka Holomého</a></li>
              <li><a class="more" href="https://beskydski.rajce.idnes.cz/bdv2018_foto_II/" target="_blank">Fotky Jarka Balcara</a></li>

              <li><a class="more" href="https://sk-zafar-frenstat-p-r.rajce.idnes.cz/Beh_do_vrchu_Raztoka_-_Pustevny_2018_ZR_FR/" target="_blank">Fotky pana Rašky</a></li>
              <li><a class="more" href="https://www.zonerama.com/tomaspop/Album/4893348" target="_blank">Fotky Tomáše Popa</a></li>

            </ul>   
          </div>

        </div>


        <div class="row">

          <div class="col-md-4">
            <h3>2017</h3>

            <div class="space10"></div>

            <ul class="list-a">
              <li><a class="more" href="http://beskydski.rajce.idnes.cz/bdv2017_fotograf_1/" target="_blank">Fotky Petry Žallmannové I</a></li>
              <li><a class="more" href="http://beskydski.rajce.idnes.cz/bdv2017_fotograf_2/" target="_blank">Fotky Petry Žallmannové II</a></li>
              <li><a class="more" href="http://beskydski.rajce.idnes.cz/bdv2017_fotograf_3/" target="_blank">Fotky Honzy Balcara</a></li>
              <li><a class="more" href="http://beskydski.rajce.idnes.cz/bdv2017_fotograf_4/" target="_blank">Fotky Jarka Balcara</a></li>

              <li><a class="more" href="http://sk-zafar-frenstat-p-r.rajce.idnes.cz/Beh_do_vrchu_Raztoka_-_Pustevny_2017_ZR_FR/" target="_blank">Fotky pana Rašky</a></li>
              <li><a class="more" href="https://www.zonerama.com/tomasp1/Album/3926961" target="_blank">Fotky Tomáše Popa</a></li>
            </ul>   
          </div>

          <div class="col-md-4">
            <h3>2016</h3>

            <div class="space10"></div>

            <ul class="list-a">
              <li><a class="more" href="http://beskydski.rajce.idnes.cz/bdv2016_fotograf_1/" target="_blank">Fotky Zdenka Holomého</a></li>
              <li><a class="more" href="http://beskydski.rajce.idnes.cz/bdv2016_fotograf_2/" target="_blank">Fotky Jarka Balcara</a></li>
              <li><a class="more" href="http://beskydski.rajce.idnes.cz/bdv2016_fotograf_4/" target="_blank">Fotky Petry Žallmannové</a></li>
              <li><a class="more" href="http://beskydski.rajce.idnes.cz/bdv2016_fotograf_3/" target="_blank">Fotky Radky Florianové</a></li>
            </ul>   
          </div>

          <div class="col-md-4">
            <h3>2015</h3>

            <div class="space10"></div>

            <ul class="list-a">
              <li><a class="more" href="https://balci.rajce.idnes.cz/Beh_do_Vrchu_Raztoka_-_Pustevny_2015/" target="_blank">Fotky Honzy Balcara</a></li>
            
              <li>Fotky pana Rašky - <a class="more" href="http://sk-zafar-frenstat-p-r.rajce.idnes.cz/Beh_Raztoka_-_Pustevny_2015/" target="_blank">první část</a></li>
              <li>Fotky pana Rašky - <a class="more" href="http://sk-zafar-frenstat-p-r.rajce.idnes.cz/Beh_Raztoka_-_Pustevny_2015_RV/" target="_blank">druhá část</a></li
            </ul>   
          </div>

          <div class="col-md-4">
          </div>

          <div class="col-md-4">
          </div>

        </div>

        <div class="space20"></div>

      </div>

    </div>
    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->

