<%= render :partial => 'partials/titlebar', locals: {title: 'Galerie'} %>

<!-- Content -->
<div id="content">
  <div class="container">

    <div class="row">
      <div class="col-md-12">

        <h2>Galerie</h2>

        <h3>2017</h3>

        <div class="space10"></div>

        <ul class="list-a">


          <li><a class="more" href="http://beskydski.rajce.idnes.cz/bdv2016_fotograf_1/" target="_blank">Fotky Zdenka Holomého</a></li>
          <li><a class="more" href="http://beskydski.rajce.idnes.cz/bdv2016_fotograf_2/" target="_blank">Fotky Jarka Balcara</a></li>
          <li><a class="more" href="http://beskydski.rajce.idnes.cz/bdv2016_fotograf_4/" target="_blank">Fotky Petry Žallmannové</a></li>
          <li><a class="more" href="http://beskydski.rajce.idnes.cz/bdv2016_fotograf_3/" target="_blank">Fotky Radky Florianové</a></li>

<% if false %>
          <li>Fotky pana Rašky - <a class="more" href="http://sk-zafar-frenstat-p-r.rajce.idnes.cz/Beh_Raztoka_-_Pustevny_2015/" target="_blank">první část</a></li>
          <li>Fotky pana Rašky - <a class="more" href="http://sk-zafar-frenstat-p-r.rajce.idnes.cz/Beh_Raztoka_-_Pustevny_2015_RV/" target="_blank">druhá část</a></li>
<% end %>

        </ul>   

        <div class="row">
          <div class="col-md-12">
            Pokud jste nafotili během našeho závodu nějaké fotky a nevadilo by Vám se o ně podělit s ostatními závodníky, pošlete nám info a my zde vyvěsíme odkaz na Vaši galerii. Uděláte radost nejen nám, ale především ostatním závodníkům.
          </div>
        </div>

      </div>
    </div>
    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->

