<!-- Content -->
<div id="content">
  <div class="container">
    <div class="f-center">
      <h2>Běh do vrchu Ráztoka - Pustevny</h2>

      <%#= render 'partials/covid' %>

    </div>
    <div class="f-hr"></div>

    <div class="row space20"></div>
    <div class="f-center">
      <div class="head-info">
        <b>V sobotu 3.12.2022 se <span style="color: red">USKUTEČNÍ</span> 52. ročník tradičního běžeckého závodu "Běh do vrchu Ráztoka – Pustevny".</b><br>
        Doufáme, že špatné roky jsou za námi a budeme rádi, pokud se na startu závodu ukážete.
      </div>
      <div class="head-info">
        Pořádá tým <b>BeskydSki</b>
      </div>
    </div>
    <div class="f-hr"></div>

    <div class="row space40"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">


          <div class="col-md-6">
            <div class="ic-1"><span><i class="fa fa-paperclip"></i></span></div>
            <div class="title-1"><h4>Tradiční trať</h4></div>
            <div class="text-1">
              Trasa závodu zůstává stále stejná: Hotel Ráztoka - Horní stanice lanové dráhy
            </div>
          </div>
          <div class="col-md-6">
            <div class="ic-1"><span><i class="fa fa-paperclip"></i></span></div>
            <div class="title-1"><h4>Registrace do závodu</h4></div>
            <div class="text-1">
              Spustili jsme registraci do závodu. Pro přihlášení použijte  <%= link_to 'webový formulář', new_entrant_path, class: 'more' %>.
            </div>
          </div>


<% if false %>
          <div class="col-md-6">
            <div class="ic-1"><span><i class="fa fa-paperclip"></i></span></div>
            <div class="title-1"><h4>Registrace do závodu</h4></div>
            <div class="text-1">
              Během příštího týdne spustíme registraci do závodu. Sledujte náš <%= link_to 'facebook - BehDoVrchu', "https://www.facebook.com/BehDoVrchu/", class: 'more', target: '_blank' %>
             </div>
          </div>

          <div class="col-md-4">
            <div class="ic-1"><span><i class="fa fa-paperclip"></i></span></div>
            <div class="title-1"><h4>Závod je za námi</h4></div>
            <div class="text-1">
              Děkujeme všem za účast, jsme rádi že zůstáváte věrni tomuto tradičnímu závodu. A již nyní Vás zveme na další ročník, který se uskuteční první sobotu v prosinci, tj. 5.12.2020
            </div>
          </div>

          <div class="col-md-4">
            <div class="ic-1"><span><i class="fa fa-paperclip"></i></span></div>
            <div class="title-1"><h4>Výsledky závodu</h4></div>
            <div class="text-1">
              Přidali jsme na web výsledky, jsou k dispozici i ke stažení ve formátu .pdf. Více <%= link_to 'zde', results_page_path, class: 'more' %>
            </div>
          </div>

          <div class="col-md-4">
            <div class="ic-1"><span><i class="fa fa-paperclip"></i></span></div>
            <div class="title-1"><h4>Kreditní karta</h4></div>
            <div class="text-1">
              Při závodu byla nalezena platební karta. Pokud patřila někomu z Vás, je k dispozici u obsluhy parkoviště v Ráztoce.
            </div>
          </div>

          <div class="col-md-4">
            <div class="ic-1"><span><i class="fa fa-paperclip"></i></span></div>
            <div class="title-1"><h4>Snad nás Cov</h4></div>
            <div class="text-1">
              Doufáme, že si nenecháte ujít 
            </div>
          </div>
          <div class="col-md-4">
            <div class="ic-1"><span><i class="fa fa-paperclip"></i></span></div>
            <div class="title-1"><h4>Registrace do závodu</h4></div>
            <div class="text-1">
              Zastavili jsme on-line přihlašování. Pokud máte zájem se závodu zúčastnit, můžete se ještě přihlásit v den závodu při prezenci.
            </div>
          </div>

          <div class="col-md-4">
            <div class="ic-1"><span><i class="fa fa-paperclip"></i></span></div>
            <div class="title-1"><h4>Překvapení v cíli</h4></div>
            <div class="text-1">
              Vzhledem k tomu, že na Pustevny se běhá již 50 let, čeká každého z Vás v cíli památeční medaile.
            </div>
          </div>
          <div class="col-md-4">
            <div class="ic-1"><span><i class="fa fa-paperclip"></i></span></div>
            <div class="title-1"><h4>Registrace do závodu</h4></div>
            <div class="text-1">
              Pondělí 2.12. je poslední den, kdy se můžete registrovat s předstihem. Tak to neodkládejte, startovní listina se plní. Pro přihlášení použijte  <%= link_to 'webový formulář', new_entrant_path, class: 'more' %>. Přihlásit se samořejmě budete moci ještě v den závodu.
            </div>
          </div>
          <div class="col-md-4">
            <div class="ic-1"><span><i class="fa fa-paperclip"></i></span></div>
            <div class="title-1"><h4>Kapacita závodu</h4></div>
            <div class="text-1">
              Vzhledem k loňské vysoké účasti jsme se rozhodli navýšit limit pro počet startujících v hlavním závodě na 350.
            </div>
          </div>
<% end %>

        </div>   
      </div>   

    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->