<!-- Content -->
<div id="content">
  <div class="container">
    <div class="f-center">
      <h2>Běh do vrchu Ráztoka - Pustevny</h2>
      <div class="head-info">V sobotu 2.12.2017 se uskutečnil 48. ročník tradičního běžeckého závodu "Běh do vrchu Ráztoka – Pustevny".</div>
      <div class="head-info">Pořádá tým <b>BeskydSki</b> ve spolupráci s lyžařským střediskem <b>Pustevny, s.r.o.</b></div>
    </div>
    <div class="f-hr"></div>
    <div class="row space40"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">

          <div class="col-md-4">
            <div class="ic-1"><span class="glyphicon glyphicon-paperclip"></span></div>
            <div class="title-1"><h4>Fotky</h4></div>
            <div class="text-1">
              Stejně jako loňský závod pro Vás máme fotky ze závodu. <%= link_to 'více...', gallery_page_path, class: 'more' %> 
            </div>
          </div>

          <div class="col-md-4">
            <div class="ic-1"><span class="glyphicon glyphicon-paperclip"></span></div>
            <div class="title-1"><h4>Výsledky</h4></div>
            <div class="text-1">
              Máme pro Vás zpracované výsledky, najdete zde i odkaz na stažení ve formátu pdf. <%= link_to 'více...', results_page_path, class: 'more' %>
            </div>
          </div>

          <div class="col-md-4">
            <div class="ic-1"><span class="glyphicon glyphicon-paperclip"></span></div>
            <div class="title-1"><h4>Návrat k původní trati</h4></div>
            <div class="text-1">
              Vzhledem k dokončené rekonstrukci horní stanice lanové dráhy jsme vrátili cíl závodu zpět do prostoru  před lanovkou.<%= link_to 'více...', gallery_page_path, class: 'more' %>
            </div>
          </div>


        </div>   
      </div>   

    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->