<!-- Content -->
<div id="content">
  <div class="container">
    <div class="f-center">
      <h2>Běh do vrchu Ráztoka - Pustevny</h2>
      <div class="head-info">V sobotu 5.12.2015 se uskuteční 46. ročník tradičního běžeckého závodu "Běh do vrchu Ráztoka – Pustevny".</div>
    </div>
    <div class="f-hr"></div>
    <div class="row space40"></div>
    <div class="row">
      <div class="span12">
        <div class="row">
          <!-- Service Container --> 
          <div class="span4">
            <!-- Service Icon --> 
            <div class="ic-1"><i class="icon-lightbulb"></i></div>
            <!-- Service Title --> 
            <div class="title-1"><h4>Star závodu u Hotelu Ráztoka</h4></div>
            <!-- Service Content --> 
            <div class="text-1"> 
              Rozhodli jsme se přemístit start závodu k Hotelu Ráztoka. Je to přímo u parkoviště a máte tak možnost mít na sobě teplé oblečení až do startu závodu. <%= link_to 'více...', programme_page_path, class: 'more' %>
            </div>
          </div>
          <!-- Service Container End --> 
          <div class="span4">
            <div class="ic-1"><i class="icon-lightbulb"></i></div>
            <div class="title-1"><h4>Závod dětí</h4></div>
            <div class="text-1">         
              Jako již tradične proběhne před hlavním závodem závod dětí. Start tohoto závodu je taktéž u Hotelu Ráztoka, cíl u spodní stanice lanové dráhy. <%= link_to 'více...', programme_page_path, class: 'more' %>
            </div>
          </div>
          <div class="span4">
            <div class="ic-1"><i class="icon-lightbulb"></i></div>
            <div class="title-1"><h4>Vyhlášení závodu</h4></div>
            <div class="text-1">
              Ukončení závodu, včetně vyhlášení výsledků, je nově přemístěno k Hotelu Ráztoka. <%= link_to 'více...', programme_page_path, class: 'more' %>
            </div>
          </div>    
        </div>   
      </div>   

    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->