<!-- Content -->
<div id="content">
  <div class="container">
    <div class="f-center">
      <h2>Běh do vrchu Ráztoka - Pustevny</h2>
      <div class="head-info">V sobotu 7.12.2019 se uskuteční 50. ročník tradičního běžeckého závodu "Běh do vrchu Ráztoka – Pustevny".</div>
      <div class="head-info">Pořádá tým <b>BeskydSki</b> ve spolupráci s lyžařským střediskem <b>Pustevny, s.r.o.</b></div>
    </div>
    <div class="f-hr"></div>
    <div class="row space40"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
<% if false %>
          <div class="col-md-4">
            <div class="ic-1"><span class="glyphicon glyphicon-paperclip"></span></div>
            <div class="title-1"><h4>Na Pustevny se běhá již 50 let</h4></div>
            <div class="text-1">
              Doufáme, že si nenecháte ujít 
            </div>
          </div>
<% end %>
          <div class="col-md-4">
            <div class="ic-1"><span class="glyphicon glyphicon-paperclip"></span></div>
            <div class="title-1"><h4>Překvapení v cíli pro každého závodníka</h4></div>
            <div class="text-1">
              Vzhledem k tomu, že na Pustevny se běhá již 50 let, čeká každého z Vás v cíli památeční medaile.
            </div>
          </div>

          <div class="col-md-4">
            <div class="ic-1"><span class="glyphicon glyphicon-paperclip"></span></div>
            <div class="title-1"><h4>Registrace do závodu</h4></div>
            <div class="text-1">
              Pondělí 2.12. je poslední den, kdy se můžete registrovat s předstihem. Tak to neodkládejte, startovní listina se plní. Pro přihlášení použijte  <%= link_to 'webový formulář', new_entrant_path, class: 'more' %>. Přihlásit se samořejmě budete moci ještě v den závodu.
            </div>
          </div>

          <div class="col-md-4">
            <div class="ic-1"><span class="glyphicon glyphicon-paperclip"></span></div>
            <div class="title-1"><h4>Kapacita závodu</h4></div>
            <div class="text-1">
              Vzhledem k loňské vysoké účasti jsme se rozhodli navýšit limit pro počet startujících v hlavním závodě na 350.
            </div>
          </div>

        </div>   
      </div>   

    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->