<!-- Content -->
<div id="content">
  <div class="container">
    <div class="f-center">
      <h2>Běh do vrchu Ráztoka - Pustevny</h2>
      <div class="head-info">V sobotu 1.12.2018 se uskuteční 49. ročník tradičního běžeckého závodu "Běh do vrchu Ráztoka – Pustevny".</div>
      <div class="head-info">Pořádá tým <b>BeskydSki</b> ve spolupráci s lyžařským střediskem <b>Pustevny, s.r.o.</b></div>
    </div>
    <div class="f-hr"></div>
    <div class="row space40"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">

          <div class="col-md-6">
            <div class="ic-1"><span class="glyphicon glyphicon-paperclip"></span></div>
            <div class="title-1"><h4>Přihlášení online</h4></div>
            <div class="text-1">
              Již jsme spustili přihlašování. Nezapomeťe uvést, zda jste členem horolezeckého oddílu. <%= link_to 'více...', new_entrant_path, class: 'more' %>
            </div>
          </div>

          <div class="col-md-6">
            <div class="ic-1"><span class="glyphicon glyphicon-paperclip"></span></div>
            <div class="title-1"><h4>Kategorie horolezců</h4></div>
            <div class="text-1">
              Zůstaváme věrní tradici a proto budeme také letos vyhlašovat nejlepšího horolezce a horolezkyni. <%= link_to 'více...', programme_page_path, class: 'more' %>
            </div>
          </div>


        </div>   
      </div>   

    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->