<div class="f-center">
  <div class="head-info" style="font-size: 20px;">
    <p>
      Vzhledem ke zpřísněným protiepidemickým opatřením jsme aktuálně nuceni zavést jistá omezení, které nás netěší:
    <p style="color: red">
      <b>při prezenci budeme kontrolovat bezinfekčnost závodníků</b>.
    </p>
    <p>
      Pro start v závodě je tedy nutné doložit ukončené očkování nebo prodělanou nemoc Covid v posledních 6 měsících, příp. pokud někdo nemá dokončený proces očkování (má jen první dávku, nebo ještě neuplynulo 14 dní od poslední), tak v těchto případech je možné se prokázat negativním výsledkem PCR testu. Z toho také vylpývá, že každý závodník si bude muset startovní balíček a tričko vyzvednout osobně.
    </p>
    <p style="color: red">
      <b>Závodníci, kteří výše popsané podmínky nebudou moci splnit, nemůžeme pustit ke startu.</b>
    </p>
  </div>
</div>
