<div class="f-center">
  <div class="head-info" style="font-size: 20px;">

    <h2 style="color: red; padding-top: 8"><b>ZÁVOD ZRUŠEN</b></h3>

    <p>
      Bohužel máme pro Vás nepřízivé informace. Vzhledem ke zpřísňujícím se podmínkám pro konání sportovních akcí jsme nuceni závod zrušit.
    </p>
    <p>
      Do poslední chvíle jsme doufali, že závod aspoň v nějaké omezené formě budeme moct uspořádat, ale aktuální omezení jsou již taková, že to není možné. Můžu Vás ujistit, že přípravy byly v plném proudu a většina věcí (startovní čísla, trička, startovní balíčky, zajištění pořadatelů, atp.) je již přichystána.
    </p>
    <p>
      Tak držte palce, ať se sejdeme za rok již be omezení.
    </p>
    <p>
      tým <b>BeskydSki</b>
    </p>
  </div>
</div>
