<!-- Footer -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h3>Kontakt</h3>
          BeskydSki, spolek<br>
          <i class="icon-envelope"></i><a href="mailto:support@example.com">behdovrchu@email.cz</a><br>
          <i class="icon-home"></i><a href="http://behdovrchu.herokuapp.com" target="_blank">www.behdovrchu.herokuapp.com</a><br>

        </div>
      </div>
      
      <div class="row space20"></div>
      <div class="row">
        <div class="span6">
          <div class="logo-footer">
            Design by <a href="#">xEiger</a>
          </div>                       
        </div>
        <div class="span6 right">
          &copy; 2015. Všechna práva vyhrazena.
        </div>
      </div>

    </div>
  </footer>
  <!-- Footer End -->