<!-- Footer -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Kontakt</h3>
          BeskydSki, spolek<br>
          <span class="glyphicon glyphicon-envelope"></span><a href="mailto:behdovrchu@email.cz">behdovrchu@email.cz</a><br>
          <span class="glyphicon glyphicon-home"></span><a href="http://www.beskydski.cz/" target="_blank">www.beskydski.cz</a><br>

        </div>
      </div>
      
      <div class="row space20"></div>
      <div class="row">
        <div class="col-md-6">
          <div class="logo-footer">
            Design by <a href="#">xEiger</a>
          </div>                       
        </div>
        <div class="col-md-6 right">
          &copy; 2019. Všechna práva vyhrazena.
        </div>
      </div>

    </div>
  </footer>
  <!-- Footer End -->